@import url('https://fonts.googleapis.com/css2?family=Lexend&family=VT323&display=swap');

body {
    background-color: #fffc52;
    color: #000;
    font-family: 'Lexend', sans-serif;
    margin: 10%;
}

h1,h2,h3,h4 {
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 4em;
}

ol { 
    list-style-type: decimal-leading-zero;
}
